<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Collaborators</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="search" (ionChange)="onSearch()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let user of users | async">
      <ion-avatar class="ion-margin-end">
        <img [src]="user.photoURL" alt="user.email" />
      </ion-avatar>
      <ion-label>
        <h2>{{ user.displayName }}</h2>
        <p>{{ user.email }}</p>
      </ion-label>
      <ion-buttons slot="end" *ngIf="!shared(user.uid); else showClose">
        <ion-button (click)="share(user.uid)">
          <ion-icon name="person-add"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ng-template #showClose>
        <ion-buttons slot="end">
          <ion-button (click)="unshare(user.uid)">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ng-template>
    </ion-item>
  </ion-list>
</ion-content>
