<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>How do I Begin?</ion-card-subtitle>
      <ion-card-title>Login to Get Started</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Once you've logged in, you can make tasks, set their reset times and add
        friends to collaborate with.
      </p>
      <ion-button (click)="auth.googleLogin()">Login with Google</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
