<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Task Form</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="form.invalid" (click)="submit()">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm">
    <ion-item>
      <ion-label position="stacked">Title *</ion-label>
      <ion-input
        required
        [(ngModel)]="task.title"
        name="title"
        id="title"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Repeat</ion-label>
      <ion-input name="time" type="time" [(ngModel)]="task.repeat"></ion-input>
    </ion-item>
  </form>
</ion-content>
