<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/home">
              <ion-icon slot="start" name="list"></ion-icon>
              <ion-label>
                My Tasks
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/collaborating">
              <ion-icon slot="start" name="people"></ion-icon>
              <ion-label>
                Collaborating
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="auth.user | async">
            <ion-item (click)="auth.logout()">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Log Out
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
