<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Collaborating</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="reloadPage($event)"></ion-refresher>
  <ion-list>
    <ion-item
      *ngFor="let task of tasks | async"
      [appTaskColor]="task.done"
      lines="full"
    >
      <ion-label>
        <h2>{{ task.title }}</h2>
        <p *ngIf="task.repeat">Repeats: {{ task.repeat | time }}</p>
      </ion-label>
      <ion-buttons slot="end" *ngIf="!task.done">
        <ion-button (click)="finishTask(task)">
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end" *ngIf="task.done">
        <ion-button (click)="openTask(task)">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="options(task)">
          <ion-icon name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
